h1 {
  font-family: 'Open-Sans', sans-serif;
  color: #FD0054;
  font-size: 22px;
}

h2, h3 {
  font-family: 'Open-Sans',sans-serif;
  font-weight: 400;
  color: rgb(80, 80, 80);
  font-size: 18px;
}

p, a {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 100;
  color: rgb(130, 130, 130);
  font-size: 15px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: rgb(170, 170, 170);
}

a:hover {
  color: #FD0054;
}

ul {
  padding-left: 0px;
}

body {
background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

div {
  display: block;
}
.card {
  width: 500px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: white;
  padding: 30px 20px;
  border: 2px solid rgba(230, 230, 230, 0.2);
  box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5)

}

#profile {
  width: 30%;
  border-radius: 50%;
  border: 2px solid rgba(220, 220, 220, 0.8);
}

.text-center {
  text-align: center;
}

.img-rectangle {
  width: 120px;
}

.btn-red {
  background: #FD0054;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  color: rgb(240, 240, 240);
  font-weight: 400;
}

.btn-red:hover {
  background: #D14F4F;
  color: rgb(255, 255, 255)
}

.list-inline {
  list-style: none;
  padding: 0 20px;
}

.list-inline li {
/*  font-size: 50px;*/
  display: inline-block;
  padding: 15px;
}

.list-inline a {
  font-size: 18px;
}


td {
  padding-left: 10px;
}











